.container {
            max-width: 1000px;
            margin: auto;
            justify-content: space-around;
            
        }


        

        .equipe-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            gap: 30px;
            margin-top: 10px;
            margin-bottom: 13px;
          
        }

 
        .card {
            background-color: white;
            border-radius: 10px;
            padding: 20px;  
            box-shadow: 0 4px 12px #9d1515;
            text-align: center;
            transition: .8s;
        }

        .card:hover{
            transform: scale(1.05);
        }

        .card h2 {
            margin-top: 10px;
            font-size: 1.3em;
            color: #9d1515;
        }

        .card h3 {
            font-size: 1em;
            color: #888;
            margin-bottom: 10px;
        }

        .card p {
            font-size: 1em;
            line-height: 1.5;
        }

        .container #title-container{
            color: #9d1515;
            text-align: center;
            
        }