.img-equipe{
    display: flex;
 padding: 30px 40px;
align-items: center;
justify-content: center;


}

.img-equipe img{
  width: 30%;
  height: auto;
box-shadow: 0px 0px 10px 6px rgba(165, 69, 42);

}

.titulo-container{
  color: #9d1515;
  text-align: center;
  padding: 15px 0;
    border-bottom: 2px solid rgb(165, 69, 42); 
}