#home {
    display: flex;
   
}

#logo{
    transition: .8s;
}

#logo:hover{
    transform: scale(1.05);
}

#cta{
    width: 35%;
    display: flex;
    flex-direction: column;
    gap: 28px;
    margin-top: 5%;
   

}

#cta .title{
    font-size: 4rem;
    color: #1d1d1d;

}

#cta .title span{
    color: rgb(164, 23, 4);
}

#cta .description{
font-size: 1.2rem;
}

.social-media-buttons {
display: flex;
gap: 8px;       
}

.social-media-buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 40px;
    background-color:rgb(164, 23, 4);

    font-size: 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    
}

.social-media-buttons a:hover{
    background-color:  rgb(165, 69, 42);

}

#banner{
    display: flex;
    align-items: start;
    justify-content: end;
    width: 70%;
    margin-top: 30px;
    transition: .8s;
}



#banner img{
box-shadow: 0px 0px 12px 4px rgb(164, 23, 4);
}