


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* ajuda na responsividade*/

}

body{
    background-color: #fff9ea;
}

section{
    padding: 28px 8%; 
}

.btn-default{
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(165, 69, 42) ;
    border-radius: 12px;
    padding: 10px 14px;
    font-weight: 600;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1) ;
    cursor: pointer;
    transition: background-color .3s, ease;
    color: aliceblue;
}

.btn-default:hover{
    background-color: rgb(214, 97, 65) ;
}